{% load static %}
<div class="container-fluid wrapper a-propos">
        <h1>Qu'est-ce que le Clibre?</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <!--<img src="{% static "website/img/icon.png"%}" class="img-circle img-responsive" width="150">-->
                        <h3 class="text-center">Social</h3>
                        <br/>
                        <br/>
                        <p class="text-justify">Le Clibre vous propose divers évènements accessibles à tous afin de vous familiariser avec les logiciels libres. Venez suivre nos formations, participez à nos compétitions ou simplement venez vous informer sur le libre, il nous fera plaisir de partager nos connaissances avec vous.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <!--<img src="{% static "website/img/icon.png"%}" class="img-circle img-responsive" width="150">-->
                        <h3 class="text-center">Professionnel</h3>
                        <br/>
                        <br/>
                        <p class="text-justify">Vous êtes une association ou organisme de l’UQÀM et vous souhaitez avoir une présence sur internet?  Vous avez une idée de projet? Avez-vous envisagé les logiciels libres? Le Clibre est à votre disposition pour vous faire connaitre le libre, vous aider à démarrer vos projets et vous soutenir dans vos besoins informatiques.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <!--<img src="{% static "website/img/icon.png"%}" class="img-circle img-responsive" width="150">-->
                        <h3 class="text-center">Technique</h3>
                        <br/>
                        <br/>
                        <p class="text-justify">Le Clibre offre des services d’hébergements fiables aux associations ou aux organismes de l’UQÀM. Nous faisons également l'hébergement des sources de certains logiciels libres tel que le système d'exploitation Ubuntu. Pour de plus amples informations, <a href="javascript:scrollTo('.contact')">contactez-nous!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
