{% load static %}
<div class="container-fluid wrapper a-propos">
        <h1>Qu'est-ce que le Clibre?</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <img src="{% static "website/img/icon.png"%}" class="img-circle img-responsive" width="150">
                        <h3>Qui sommes-nous</h3>
                        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies odio eget lorem consequat mollis. Suspendisse et arcu eget massa vestibulum feugiat eget a lectus. Praesent blandit convallis rhoncus. Morbi faucibus mi a massa iaculis, sit amet porta turpis convallis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <img src="{% static "website/img/icon.png"%}" class="img-circle img-responsive" width="150">
                        <h3>Que faisons-nous</h3>
                        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies odio eget lorem consequat mollis. Suspendisse et arcu eget massa vestibulum feugiat eget a lectus. Praesent blandit convallis rhoncus. Morbi faucibus mi a massa iaculis, sit amet porta turpis convallis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <img src="{% static "website/img/icon.png"%}" class="img-circle img-responsive" width="150">
                        <h3>Comment aider</h3>
                        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies odio eget lorem consequat mollis. Suspendisse et arcu eget massa vestibulum feugiat eget a lectus. Praesent blandit convallis rhoncus. Morbi faucibus mi a massa iaculis, sit amet porta turpis convallis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
