{% load static %}
<div class="container-fluid wrapper acceuil">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:scrollTo('haut')"><img class="logo" src="{% static "website/img/clibre_logo.png" %}" width="95"/></a>
            </div>
            <div class="collapse navbar-collapse myNavbar" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="link-a-propos" class="nav-non-filler links"><a href="javascript:scrollTo('.a-propos')">À propos</a></li>
                    <li class="nav-filler">filler filler</li>
                    <li id="link-nouvelles" class="nav-non-filler links"><a href="javascript:scrollTo('.nouvelles')">Nouvelles</a></li>
                    <li class="nav-filler">filler filler</li>
                    <li id="link-contact" class="nav-non-filler links"><a href="javascript:scrollTo('.contact')">Contact</a></li>
                    <li class="nav-filler">filler filler</li>
                    <li class="nav-non-filler"><a href="http://wiki.clibre.uqam.ca" target="_blank">Wiki</a></li>
                    <li class="nav-filler">filler filler</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron page-1ere">
        <h1>Clibre AESS UQÀM</h1>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <blockquote class="blockquote-reverse quote">
                    <em>Linux? Git? GIMP? LibreOffice? C’est du libre! Le Clibre une association étudiante de L’AESS qui a pour but de promouvoir les logiciels libres au sein de l’UQAM à travers des services professionnels, de la formation, du soutien et plus encore.</em>
                </blockquote>
            </div>
        </div>
    </div>
</div>
