<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load widget_tweaks %}
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
            .acceuil {
                background-image: url({% static "website/img/bg3.png" %});
            }
        </style>
        <link rel="stylesheet" href="{% static "website/css/index.css" %}">
        <script src="{% static "website/js/index.js" %}"></script>
        <title>Clibre - UQAM</title>
    </head>

    <body>
        <div class="container-fluid wrapper-wrapper">
            <div class="panel wrapper-wrapper">
                <div class="panel-body wrapper-wrapper">
                    <!-- acceuil -->
                    {% include "website/acceuil.html" %}
                    <!-- a propos -->
                    {% include "website/a-propos.html" %}

                    <!-- nouvelles -->
                    {% include "website/nouvelles.html" %}

                    <!-- contact -->
                    {% include "website/contact.html" %}

                <div class="panel-footer">
                    <p>Clibre 2016<p>
                </div>
            </div>
        </div>

    </body>
</html>
