{% load static %}
<div class="container-fluid wrapper nouvelles">
    <div class="row">
        <div class="col-md-6">
            <div class="fb-page" data-href="https://www.facebook.com/CLibre-181417862222037/timeline" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
        </div>
        <div class="col-md-6">
            <h1>&iquest;Qué pasa au Clibre?</h1>
            <h3 class="text-center">Vous avez un projet, un évènement ou une question qui concerne le logiciel libre?</h3>
            <a href="javascript:scrollTo('.contact')" class="btn-lg btn-primary contactez-nous" role="button">Contactez nous!</a>
        </div>
    </div>
</div>
